rofi.color-window: #333333 
rofi.color-normal: #333333, #c4cbd4, #333333, #333333, #f9f9f9
rofi.color-urgent: #333333, #cc6666, #333333, #c4cbd4, #f9f9f9
rofi.color-active: #333333, #65acff, #333333, #4491ed, #f9f9f9
rofi.width: 100
rofi.lines: 3
rofi.font: System San Francisco Display 18
rofi.bw: 0
rofi.eh: 2
rofi.padding: 800
rofi.separator-style: none
rofi.hide-scrollbar: true

