rofi.font: System San Francisco Display 18
loginshell: true
*selectToClipboard: true
! Font
*faceName: Fira Code
*faceSize: 14
*background:  #000000
*foreground:  #ffffff
*color0:  #000000
*color1:  #ce5384
*color2:  #2d957e
*color3:  #b19527
*color4:  #5d4d84
*color5:  #a31dbb
*color6:  #2aa1b8
*color7:  #ffffff
*color8:  #000000
*color9:  #f22429
*color10:  #86dc39
*color11:  #dc7539
*color12:  #4f97e1
*color13:  #c56ecd
*color14:  #28defa
*color15:  #ffffff

